:root{
    --bg: #191724;
    --bg2: #1f1d2e;
    --accent: #9ccfd8;
    --text: #e0def4;
    --link: #eb6f92;
    --highlight: #f6c177;
    --recolor: invert(81%) sepia(17%) saturate(1315%) hue-rotate(337deg) brightness(103%) contrast(93%);
}